*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container_inicio{
    background-image: url('bac.png');
    height: 900px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
}
.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    margin: 10px;    
}